
<div class="fondo3">
  
 <img src="assets/comida2.jpg" alt="">

        <div class="areaderegistro">
                
                <input class="form-control red-border" type=" mail" placeholder=" mail" aria-label=" mail">
                <br>
                <input class="form-control red-border" type=" contraseña" placeholder=" contraseña" aria-label=" contraseña">
                <br>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Registrate</button>
                <br>
                <br>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">f</button>
                
        </div>
</div>

