.fondo3{
    background-image: url(/assets/comidaf.jpg);
    background-repeat: no-repeat;
    background-color: #fdae04ab; 
     /* margin: 50px; */
    padding: 150px;
    /* border: 2px solid rgb(173, 3, 3);  */
    /* IMPORTANTE */
    text-align: center;   
  } 
  .areaderegistro{ 
    
    /* display:flex;
    flex-direction: column;
    justify-content: center;  */
    background-color: #fcac01b6;
    color: rgb(211, 2, 2);
    border : #6e4c02 2px solid;
    width: 350px;
    padding: 2cm;
    border-radius: 5px 50px 5px 50px;
    /* text-align: center;  */
    box-shadow: 2px 2px 2px 2px #0000006c 
    
  }

  .red-border{
    border-color: red;
}
   /* color y sobra al campo de busqueda */
.red-border:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);;
  
}
.fondo3 {
  display:flex;
  /* justify-content: space-around;
  text-align: center; */
  /* flex-direction: column; */
  justify-content: center; 
}


.form-control{
  box-shadow: 1.5px 1.5px 1.5px 1.5px #0000007a; 
}

.btn{
  box-shadow: 1.5px 1.5px 1.5px 1.5px #0000007a; 
  /* border-bottom: 3px; */
}