<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>



  <!-- fondo imagen -->
    <div class="fondo">
  
        <img src="assets/comida2.jpg" alt="">
    
<!-- titulo -->
<div class= "buscar-comida">
  <!-- <h1>Buscar Comida</h1> -->

  <form class="form-inline my-2 my-lg-0">
           <!-- color y sobra para el campo de busqueda -->
    <input class="form-control red-border" type="Buscar Comida" placeholder="Buscar Comida" aria-label="Buscar Comida">
                              <!-- color del boton -->
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
br
<!-- mapa -->
<div class= "mapa">
  <h1><iframe style="display: flex"
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3762.591901646354!2d-99.14078175715984!3d19.43003097422596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1522777421732" 
    width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></h1>
</div>
</div>

</body>
</html>


