<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ComidaEnTuColonia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
      <!-- <li class="nav-item">
                    <a class="nav-link" href="#!HOME">HOME</a>
                </li> -->
      <li class="nav-item menu">
        <!-- <a class="nav-link menu-toggle" href="#" id="navbarMenu" role="button" data-toggle="menu" aria-haspopup="true" aria-expanded="false">
                    menu
                     -->
        <!-- <a class="nav-link menu-toggle" routerLink="/" id="navbarMenu" role="button" data-toggle="menu" aria-haspopup="true" aria-expanded="false">
          menu
        </a> -->
        <a class="nav-link" routerLink="/buscar-comida">buscar-comida</a>
      </li>
      <li class="nav-item menu">
        <a class="nav-link" routerLink="/quienes-somos">quienes-somos</a>
      </li>
      <li class="nav-item menu">
        <a class="nav-link" routerLink="/registro">registro</a>
      </li>
      <li class="nav-item menu">
        <a class="nav-link" routerLink="/galeria">galeria</a>
      </li>
    </ul>
    <!-- el <input class= es el campo para BUSCAR>  y el button clas es el BOTON
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<!-- <div class="fondo">
  
    <img src="assets/comida2.jpg" alt="">
</div> -->
<router-outlet></router-outlet>
<!-- <div ng-view></div> -->
