<div class="f">
        
   <img src="assets/comida2.jpg" alt="">

     <div class="flex-container">

        <div class="quienesomos">
                
               <h5><strong>Comida en tu Colonia...!!!</strong></h5> 
         </div>

        <br>

        <div class="info">
                     <br>
                     <h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ipsa recusandae consequuntur quos aspernatur deserunt harum, numquam distinctio
                 quam delectus assumenda, omnis reprehenderit repellendus architecto velit adipisci, nemo ullam libero?<p></p>
       
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem, repellat odit deserunt deleniti tenetur
                doloremque placeat veniam rem commodi, suscipit consequatur dolores sunt reiciendis? Molestias quae eius esse neque!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem, repellat odit deserunt deleniti tenetur
                doloremque placeat veniam rem commodi, suscipit consequatur dolores sunt reiciendis? Molestias quae eius esse neque!
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem, repellat odit deserunt deleniti tenetur
                doloremque placeat veniam rem commodi, suscipit consequatur dolores sunt reiciendis? Molestias quae eius esse neque!

        </p>
</h5>
                </div>
     </div>
 </div>